<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinkoff invest margin</title>
</head>
<body>
    <div class="main">
        <form action="">
            <input id="search" type="text" placeholder="Тикер">
            <button type="submit">Найти</button>
        </form>
        <p id="error-message"></p>
        <table>
            <thead>
                <tr>
                    <th>Тикер</th>
                    <th>Имя</th>
                    <th>Шорт</th>
                    <th>ISIN</th>
                    <th>Шорт риск</th>
                    <th>Лонг риск</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>

        </table>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>